body {
    background-color: #f9f9f9;
    color: #ACA18C;
    font-family: 'Montserrat', sans-serif;
}
body nav {
    background-color: #f9f1f1;
    color: #ACA18C;
    font-family: 'Montserrat', sans-serif;

}
.intro {
    color: #ACA18C;
    font-family: 'Montserrat', sans-serif;
}